.btn-1{
    background-color: #fff;
    color: rgb(174, 31, 31);
    border: 1px solid #000;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 0.3s ease;
    cursor: pointer;
}
.btn-1:hover{
    background-color: #00D84A;
    color: #000;
}

.body{
    background-color: #b8b8ff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 40vh;
    left: 30vw;
    font-family: 'Poppins', sans-serif;
}

#status_p{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    text-align: center;
    margin-right: 30px;
}

.btn-2{
    background-color: #fff;
    color: rgb(174, 31, 31);
    border: 1px solid #000;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
}
.btn-2:hover{
    background-color:#03203C;
    color: #fff;
}

.input{
    border: 1px solid #000;
  border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0px;
    cursor: pointer;
}